<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
          integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <center>
            <nav class="mt-2">
                <a href="~/Home/Index" class="btn btn-primary">Home</a> |
                <a href="~/Home/Privacy" class="btn btn-warning">Privacy</a> |
                <a href="~/Home/AboutUs" class="btn btn-success">About Us</a>
                <a href="~/Home/Contact" class="btn btn-secondary">Contact</a>
            </nav>
        </center>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <center>
            <p>CopyRights &copy; Route @DateTime.Now.Year</p>
        </center>
    </footer>
</body>
</html>
