@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>

<body>

    <!-- Body -->
    <section>
        <center>
            <div class="mt-2 bg-success p-5 w-75">
                <h1>Welcome to AboutUs Page</h1>
                <p>This is the AboutUs Page of the Assignment 1</p>
            </div>
        </center>
    </section>

</body>

</html>
